{% extends "base.html" %}

{% load bootstrap5 %}
{% block content %}

<div class="container-fluid">
    <div class="card shadow mb-4 p-2">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Inscripción</h6>
        </div>
        <div class="card-body">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}